@media screen and (min-width: 640px) {

  /* hack for element-ui */

  .el-container {
    height: 100%;
  }
  .el-table th .cell {
    word-break: break-word;
  }
  .single-display-page {
    text-align: center;
  }
  .single-display-page table {
    border-collapse: collapse;
    text-align: left;
  }
  .single-display-page .key-value tr td:nth-child(odd) {
    text-align: right;
    font-weight: bold;
    width: 200px;
    padding-right: 20px;
  }
  .single-display-page .key-value tr td:nth-child(even) {
    text-align: left;
  }
  .el-dropdown > span {
    display: inline-block;
    padding: 0 var(--card-spacing);
  }
  .el-table .cell .el-button,
  .el-table .cell .el-form-item {
    margin-bottom: 0;
  }
  .el-table .cell .el-form-item__content {
    line-height: initial;
  }
  .el-form {
    display: table;
  }
  .sp-a-table .el-form {
    display: block;
  }
  .el-form fieldset {
    width: 100%;
    display: table-row;
    margin: 0 0 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
  }
  .el-form--inline {
    display: block;
    margin-bottom: var(--card-spacing);
  }
  .el-form--inline .el-form-item {
    display: inline-flex;
    width: auto;
  }
  .el-form--inline .el-form-item__label,
  .el-form--inline .el-form-item__content,
  .sp-hooks + .el-form .el-form-item__label,
  .sp-hooks + .el-form .el-form-item__content {
    padding-bottom: 0;
  }
  .el-form-item__content > .el-input,
  .el-form-item__content > .el-select {
    width: 100%;
  }
  .el-form-item__content > .el-tree {
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 1em;
    max-height: 20em;
    overflow: auto;
  }
  .el-form-item__error {
    top: auto;
    padding-top: 0;
    padding-left: 4px;
  }
  .el-tabs__header {
    margin-bottom: var(--card-spacing);
  }
  .el-input-group {
    vertical-align: middle;
  }
  .el-menu-item a {
    display: block;
  }
  .el-input input[type=number]::-webkit-inner-spin-button {
    display: none;
  }
  .el-dialog {
    width: 50% !important;
  }
  .el-dialog__body {
    padding: 20px !important;
  }
  .el-notification__content {
    text-align: left;
  }
  .el-upload {
    border: 1px dashed var(--bg-color);
    border-radius: var(--uploader-border-radius);
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .el-upload:hover {
    border-color: var(--color-primary);
  }
  .el-upload i {
    font-size: 28px;
    color: var(--text-color);
    width: var(--uploader-size);
    height: var(--uploader-size);
    line-height: var(--uploader-size);
    text-align: center;
  }

  /* shopee own theme */

  #app {
    overflow: hidden;
  }
  .sp-hidden-pc {
    display: none;
  }
  .sp-header {
    padding-right: var(--card-spacing);
  }
  .sp-logo {
    background-color: var(--bg-color-darker);
    display: inline-block;
    width: var(--left-side-width);
  }
  .sp-left-side {
    float: left;
    width: var(--left-side-width);
    height: calc(100% - var(--logo-height));
    margin-top: calc(var(--logo-height) - var(--header-height));
  }
  .sp-right-side {
    width: calc(100% - var(--left-side-width));
    height: calc(100% - var(--header-height));
    float: left;
  }
  .el-form + .sp-nested-view h1,
  .el-form + .sp-parallel-view h1 {
    margin-top: 0;
  }
  .sp-edit-page-form:not(:empty) + .sp-nested-view:before,
  .sp-edit-page-form:not(:empty) + .sp-parallel-view:before, .sp-link-select-form-item {
    content: '';
    display: block;
    border-top: 1px dashed var(--bg-color);
    margin: 2rem 0;
    opacity: 0.3;
  }
  .sp-nested-view .sp-card {
    padding: 0;
  }

}
